@mixin font($family, $variant: 'regular', $modifiers: null) {
  font-family: font-stack($family, $variant);
  font-weight: normal;
  font-style: normal;

  @if($modifiers) {
    @include font-modifiers($family, $modifiers);
  }
}
