// Scss Font Name Mixin
//
// Based on:
// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/

// Looks in the map variable $font for the requested font name string.
// Look at sass/variables/_fonts.scss

@function font-name($family, $variant: 'regular') {
  $family-key: font-family-key($family);

  @if (map-has-key($fonts, $family-key)) {
    @return map-get(map-get($fonts, $family-key), $variant);
  }
  @else {
    @error "Could not find requested font `#{$family}` in $fonts or $font-aliases.";
  }
}
