// Font Type Function
//
// Returns the type of font defined for each font in the map variables: $fonts.

@function font-type($family) {
  @return map-get(map-get($fonts, $family), font-type);
}
