@mixin font-modifiers($name, $italic, $bold, $bold-italic) {
  em,
  i {
    font-family: font-stack($name, $italic);
    font-weight: normal;
    font-style: normal;
  }

  strong,
  b {
    font-family: font-stack($name, $bold);
    font-weight: normal;
    font-style: normal;
  }

  strong em,
  strong i,
  b em,
  b i {
    font-family: font-stack($name, $bold-italic);
    font-weight: normal;
    font-style: normal;
  }
}
