// Font Stack Function
//
// Returns a full font stack based on the given fontface and its variant.

@function font-stack($family, $variant: 'regular') {
  @return font-name($family, $variant), font-fallback($family);
}
