$true-terminal-output: true;

// Testing library
@import 'true';

// Flask Library
@import '../sass/flask';

// Test setup
@import 'setup/palette';
@import 'setup/font';

// Tests
@import 'tests/palette';
@import 'tests/font';

// Test reports
@include report;
