/// @name palette
/// @group palette
/// @access public
/// @example
///   .basic {
///     color: palette(teal);
///   }
///
///   .with-tone {
///     color: palette(teal, light);
///   }
///
///   .aliased {
///     color: palette(brand);
///   }
/// @param {string} $type - Base color group key in $palettes.
/// @param {string} $tone [base] - Tone key within a base color in $palettes.
/// @link http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/ Thanks to Tom Davies for inspiration.


@function palette($type, $tone: 'base') {
  @if (map-has-key($palettes, $type)) {
    @return map-get(map-get($palettes, $type), $tone);
  }
  @else if (map-has-key($palette-aliases, $type)) {
    $aliased-type: map-get($palette-aliases, $type);
    @return map-get(map-get($palettes, $aliased-type), $tone);
  }
  @else {
    @warn "Could not find requested color `#{$type}` in $palettes or $palette-aliases.";
    @return null;
  }
}
