
$fonts: (
  open-sans: (
    font-type:    sans-serif,
    regular:      'Open Sans',
    special:      'Open Sans Special'
  ),
  merriweather: (
    font-type:    serif,
    regular:      'Merriweather',
    fallback: (
      'Merriweather Fallback',
      serif
    )
  )
);

$font-aliases: (
  primary-serif: merriweather,
  primary-sans-serif: open-sans
);

$font-fallbacks: (
  serif: (
    'Georgia',
    serif
  ),
  sans-serif: (
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif
  )
);
