
@include test-module('Font Stack') {

  @include test('Font Stack [function]') {
    $expect: "Open Sans", ('Helvetica Neue', Helvetica, Arial, sans-serif);
    $test: font-stack(open-sans);

    @include assert-equal($test, $expect, 'Returns proper list.');
  }
}

@include test-module('Font Type') {

  @include test('Font Type [function]') {

    $expect: sans-serif;
    $test: font-type(open-sans);

    @include assert-equal($test, $expect, 'Returns proper list.');
  }
}

@include test-module('Font Name') {
  @include test('Font Name [function]') {
    $expect: 'Open Sans';
    $test: font-name(open-sans);

    @include assert-equal($test, $expect, 'Returns regular font name.');
  }

  @include test('Font Name Special [function]') {
    $expect: 'Open Sans Special';
    $test: font-name(open-sans, special);

    @include assert-equal($test, $expect, 'Returns specified font name.');
  }
}

@include test-module('Font Fallback') {
  @include test('Font Type Fallback [function]') {
    $expect: ("Helvetica Neue", Helvetica, Arial, sans-serif);
    $test: font-fallback(open-sans);

    @include assert-equal($test, $expect, 'Returns default fallback for font type.');
  }

  @include test('Font Custom Fallback [function]') {
    $expect: ("Merriweather Fallback", serif);
    $test: font-fallback(merriweather);

    @include assert-equal($test, $expect, 'Returns custom fallback for font.');
  }

  @include test('Font Aliased Fallback [function]') {
    $expect: ("Helvetica Neue", Helvetica, Arial, sans-serif);
    $test: font-fallback(primary-sans-serif);

    @include assert-equal($test, $expect, 'Returns default fallback for aliased font family.');
  }
}

@include test-module('Font Family Key') {
  @include test('Font Family Key Normal [function]') {
    $expect: open-sans;
    $test: font-family-key(open-sans);

    @include assert-equal($test, $expect, 'Returns expected font-family key.');
  }

  @include test('Font Family Key Aliased [function]') {
    $expect: open-sans;
    $test: font-family-key(primary-sans-serif);

    @include assert-equal($test, $expect, 'Returns expected font-family key.');
  }
}
