@include test-module('Palette') {

  @include test('Palette [function]') {
    $expect: #2ed399;
    $test: palette(teal);

    @include assert-equal($test, $expect, 'Returns a hex color.');
  }

  @include test('Palette Aliases [function]') {
    $expect: #2ed399;
    $test: palette(brand);

    @include assert-equal($test, $expect, 'Returns a hex color.');
  }

  @include test('Palette Key Error [function]') {
    $test: palette-color-key(foo);
    $expect: 'Could not find requested color `foo` in `$palettes` or `$palette-aliases`.';

    @include assert-equal($test, $expect, 'Returns expected error message.');
  }
}
