@include test-module('Palette') {
  @include test('Palette [function]') {
    $expect: $flask-color-teal-base;
    $test: palette(teal);

    @include assert-equal($test, $expect, 'Returns a hex color.');
  }

  @include test('Palette Color Alias [function]') {
    $expect: $flask-color-teal-base;
    $test: palette(brand-primary);

    @include assert-equal($test, $expect, 'Returns a hex color.');
  }

  @include test('Palette Color Alias With Variant [function]') {
    $expect: lighten($flask-color-teal-base, 5);
    $test: palette(brand-primary, light);

    @include assert-equal($test, $expect, 'Returns a hex color.');
  }

  @include test('Palette Color Aliased Variant [function]') {
    $expect: lighten($flask-color-teal-base, 5);
    $test: palette(highlight);

    @include assert-equal($test, $expect, 'Returns a hex color.');
  }

  @include test('Palette Key Error [function]') {
    $test: palette-color-key(foo);
    $expect: 'Could not find requested color `foo` in `$palettes` or `$palette-aliases`.';

    @include assert-equal($test, $expect, 'Returns expected error message.');
  }
}
